.container-card {
  background-color: #EA916B;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .16);
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  padding: 40px;

  @media screen and (max-width: 790px){
    margin: auto;
    padding: 20px;
    overflow: auto;
    height: calc(100vh - 400px);
  }
}