input {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .16);
  padding: 15px 0 15px 20px;
  height: 16px;
  min-width: 292px;
  outline: none;

  &::placeholder {
    color: #999999;
    font-size: 13px;
  }

  @media screen and (max-width: 790px){
    min-width: inherit;
    width: calc(100% - 20px);
  }
}