<navheader-component></navheader-component>

<div class="container-title">
  <p>{{ resultData.title }}</p>
</div>

<div class="text">
  <card-component>
    <p>{{resultData.text}}</p>
  </card-component>
</div>