.text ::ng-deep {
  p {
    white-space: pre-line;
    width: 700px;

    @media screen and (max-width: 790px){
      width: calc(100% - 20px);
    }
  }

  @media screen and (max-width: 790px){
    margin: auto;
    width: calc(100% - 80px);
  }
}