@import "../../../assets/vars.scss";

button {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .16);
  color: #FFF;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  height: 40px;
  width: 200px;
}

.button-primary {
  background: $bg-orange;
  background: $gradient-orange;

  &:hover {
    background: rgb(235,113,61);
    background: linear-gradient(180deg, rgba(235,113,61,1) 0%, rgba(209,58,43,1) 100%);
  }
}

.button-secondary {
  background-color: #373735;
  color: #FFF;

  &:hover {
    background-color: darken($color: #373735, $amount: 5);
  }
}