<navheader-component></navheader-component>
<div class="container-title">
  <p>{{ title }}</p>
</div>
<card-component>
  <div class="inputs">
    <input-component placeholder="Nome*"></input-component>
    <input-component placeholder="E-mail*"></input-component>
  </div>
  <textarea-component placeholder="Mensagem*"></textarea-component>
  <div class="button">
    <button-component type="secondary" text="ENVIAR"></button-component>
  </div>
</card-component>