.inputs {
  display: flex;
  gap: 17px;
  margin-bottom: 17px;

  @media screen and (max-width: 790px){
    flex-direction: column;
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}