.container-buttons {
  display: flex;
  gap: 17px;
  justify-content: center;
  margin-bottom: 45px;
  margin-top: 50px;

  @media screen and (max-width: 430px){
    align-items: center;
    flex-direction: column;
  }
}