/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./assets/vars.scss";

body {
  background-color: #2D2D2D;
  color: #FFF;
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 100px 0 20px;
  justify-content: center;

  @media screen and (max-width: 979px){
    padding: 40px 0 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-title {
  display: flex;
  height: 35px;
  flex-direction: column;
  font-size: 22px;
  justify-content: flex-end;
  margin-bottom: 29px;

  p {
    margin: 0 auto;
    border-bottom: 2px solid #707070;
    padding-bottom: 2px;
    position: relative;
    width: auto;
    
    &::after {
      content: '';
      background: $bg-orange;
      background: $gradient-orange;
      height: 6px;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
    }
  }
}